@model IEnumerable<MvcApplication4.Models.ComentarioAlquileres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Alquiler
        </th>
        <th>
            Usuario
        </th>
        <th>
            Comentario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alquiler.IdAlquiler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdComentarioAlquiler }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdComentarioAlquiler }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdComentarioAlquiler })
        </td>
    </tr>
}

</table>
