@model IEnumerable<MvcApplication4.Models.CategoriaProductos>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            DescripcionI1
        </th>
        <th>
            DescripcionI2
        </th>
        <th>
            DescripcionI3
        </th>
        <th>
            Visible
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionI1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionI2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionI3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCategoriaProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategoriaProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategoriaProducto })
        </td>
    </tr>
}

</table>
