@{
    ViewBag.Title = "Mejor lo alquilo - Servicio Premium";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/MvcFoolproofJQueryValidation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mvcfoolproof.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MvcFoolproofValidation.js")" type="text/javascript"></script>*@

<script src="@Url.Content("~/assets/js/trumbowyg.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/css/trumbowyg.min.css")">
<script src="@Url.Content("~/assets/js//plugins/upload/trumbowyg.upload.js")"></script>
        <script src="@Url.Content("~/assets/js//plugins/base64/trumbowyg.base64.js")"></script>
        <script src="@Url.Content("~/assets/js//plugins/colors/trumbowyg.colors.js")"></script>

<script type="text/javascript">
    function AgregarFileUploader()
    {
        var cant = document.getElementById("DIVSubirFotos").childElementCount - 2;

        //htmltext = "<input id='ImageUpload" + cant + "' name='ImageUpload" + cant + "' type='file' value=''>";
        htmltext = "<input id='ImageUpload' name='ImageUpload' type='file' value=''>";
        //htmltext = htmltext + "<span class='field-validation-valid' data-valmsg-for='ImageUpload' data-valmsg-replace='true'></span>";
        input = document.createElement("input");
        document.getElementById("DIVSubirFotos").appendChild(input);
        input.outerHTML = htmltext;
        /*var newimage = document.createElement("input");
        newimage.outerHTML = htmltext;
        document.getElementById("ImageUpload").appendChild(newimage);
        */
    }

    function MostrarPrecioEnvio(cb)
    {
        document.getElementById('DIVPrecioEnvio').hidden = (cb.checked == false);
        document.getElementById('DIVComentarioEnvio').hidden = (cb.checked == false);
    }

    function CambioDeptos(depto)
    {
        document.getElementById('DIVBarrio').hidden = true;
        if ($("#IdDepartamento").val() == "10")
        {
            document.getElementById('DIVBarrio').hidden = false;
        }
        return false;
    }

    var rows = 1;
    function AgregarRow()
    {
        rows = rows + 1;

        //codeHTML = $('#row1').html;

        //row1 = $("#FormSP").children()[1];
        htmlNuevaRow = $("#FormROWS").children()[0].outerHTML.replace('id="row1"', 'id="row' + rows + '"');
        $("#FormROWS").append(htmlNuevaRow);
        //document.getElementById("FormSP").appendChild(input);


        return false;
    }

</script>

<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

<div class="wrapper" style="text-align:center;margin-top: 20px;">

    

<a href="@Url.Content("~/Home/ServicioPremium")" class="le-button">
        Ir al formulario
    </a>
</div>

<div class="wrapper" style="text-align:center">


    
    <a href="@Url.Content("~/Home/ServicioPremium")" onclick="javascript: ga('send', 'event', 'BotonServicioPremiumFormUP', 'click', 'Se ingreso al formulario de servicio premium ARRIBA');">
        <img src="@Url.Content("~/assets/images/servicioPremium.jpg")" alt="Servicio premium" style="width:70%">
    </a>


<!-- ============================================================= TOP NAVIGATION ============================================================= -->
<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= -->
    
    <!-- ========================================= CONTENT ========================================= -->


<!-- ========================================= CONTENT : END ========================================= -->      
<!-- ============================================================= FOOTER ============================================================= -->

    <script>

        $('#trumbowyg-demo').trumbowyg();
    </script>
</div>

<div class="wrapper" style="text-align:center;margin-bottom: 20px;">

<a href="@Url.Content("~/Home/ServicioPremium")" class="le-button" onclick="javascript: ga('send', 'event', 'BotonServicioPremiumFormDOWN', 'click', 'Se ingreso al formulario de servicio premium ABAJO');">
        Ir al formulario
    </a>
</div>