@{
    ViewBag.Title = "¿C&oacute;mo Funciona?";
}


 <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

<script>

    
  
</script>

<!-- BEGIN BODY REAL -->
    <div class="container-fluid" >        
       <div class="row top-backimage">
       		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            	
       		</div>
       </div>
       <div class="row">
       		<div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
            	<h2>INFORMACION SOBRE MEJOR LO ALQUILO</h2>
            </div>
       </div>
       <hr>
     <div class="row">
     	
     	<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-12 col-xs-12">
        
        	<div class="about-menu-holder">
                <!--<div class="account-menu-title">
                	<p>MI CUENTA</p>
                </div>-->
                <div class="about-menu-option">
              		<ul class="nav nav-pills nav-stacked">
                      @*<li class="active"><a data-toggle="pill" href="#acercade">Acerca de Mejor lo Alquilo</a></li>*@
                      <li class="active"><a data-toggle="pill" href="#que_es">&iquest;Qu&eacute; es Mejor lo alquilo?</a></li>
                      <li><a data-toggle="pill" href="#como_funciona">&iquest;C&oacute;mo funciona?</a></li>
                      @*<li><a data-toggle="pill" href="#servicio_premium">Servicio PREMIUM</a></li>*@
                      <li><a data-toggle="pill" href="#faq">Preguntas frecuentes</a></li>                      
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about-detail-holder">
                
                <!--<div class="about-detail-title">
                	<p>Configuracion</p>
                </div>-->
                <div class="about-detail-content">
                
                	<div class="tab-content">
                      @*<div id="acercade" class="tab-pane fade in active">
                        <div class="about-detail-content-title">Acerca de mejor lo alquilo</div>
                        <div class="about-detail-content-body">
                            <ul>
                                <li>AQUI VA EL TEXTO QUE SE QUIERA
    							</li>
                            </ul>
                        </div> 
                        <div class="about-detail-content-footer">
                        
                        </div>
                      </div>*@
                      <div id="que_es" class="tab-pane fade in active">
                        <div class="about-detail-content-title">&iquest;Qu&eacute; es Mejor lo alquilo?</div><hr />
                        <div class="about-detail-content-body">
                            
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                                        <p style="font-size: 17px;">
                                        <strong>MejorLoAlquilo</strong> es una plataforma de arrendamiento de bienes entre particulares cuyo fin es rentabilizar esas cosas que no usas, al mismo tiempo que pod&eacute;s alquilar lo que necesitas pero no quer&eacute;s comprar. 
                                        </p>
                                    </div>
                                </div>

                               @* <ul>
                                <li>Mejor lo alquilo es la plataforma online exclusiva para alquilar art&iacute;culos, accesorios, bienes y mucho m&aacute;s. Y a la vez, es una gran comunidad que hace tu vida m&aacute;s f&aacute;cil.
    							</li>
                                <li>En Mejor lo alquilo siempre ganas. Porque puedes rentar cientos de productos en lugar de comprarlos 
                                y as&iacute; ahorrar mucho dinero; y tambi&eacute;n multiplicar tus ganancias publicando y alquilando esas cosas que 
                                usas poco. Y todo sin moverte de casa.
                                </li>
                                <li>Es simple, es r&aacute;pido y tambi&eacute;n es seguro, porque la garant&iacute;a es convenida entre ambas partes.
                                </li>
                                <li>Queremos que vivas la incre&iacute;ble y divertida experiencia de compartir. 
                                Conecta con miles de personas en todo el pa&iacute;s y forma parte de la gran comunidad de MLA. 
                                </li>    
                            </ul>*@
                        </div> 
                        <div class="about-detail-content-footer">
                        @*&iexcl;S&uacute;mate ahora mismo!*@
                        </div>
                      </div>
                      <div id="como_funciona" class="tab-pane fade">
                        <div class="about-detail-content-title">&iquest;C&oacute;mo funciona?</div><hr />
                        <div class="about-detail-content-body">
                        
                            <div class="about-guide-section backcolor"> 
                                
                                <div class="row text-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                                        <p class="about-detail-content-subtitle">&iquest;C&oacute;mo publicar?</p>
                                    </div>
                                </div>       
                                <div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/publicar.png")" /> 
                                    <p class="margin-top"><label>Publica tus articulos</label><br>Elige cosas que usas poco y que desees compartir. Si tienes poco tiempo, usa imagenes de internet como referencia.</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/garantias.png")" />
                                    <p class="margin-top"><label>Define tus propias garantias</label><br>Queremos que te sientas seguro en todo momento. Por eso tu eliges los requisitos, el monto de la garantia y las condiciones de alquiler.</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/dinero.png")" />
                                    <p class="margin-top"><label>Disfruta tu dinero</label><br>Pronto tendras tu articulo de nuevo en casa. Ya estas listo para la llegada de un nuevo alquiler.</p>
                                    </div>
                                    
                        
                                </div>
                                <hr />
                                <div class="row text-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                                        <p class="about-detail-content-subtitle">&iquest;C&oacute;mo alquilar?</p>
                                    </div>
                                </div>       
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/buscar.png")" /> 
                                    <p class="margin-top"><label>Busca un articulo</label><br />Selecciona el art&iacute;culo que te interes&oacute;, puedes encontrar una gran variedad.@*<br>Elige cosas que usas poco y que desees compartir. Si tienes poco tiempo, usa imagenes de internet como referencia.*@</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/reservar.png")" />
                                    <p class="margin-top"><label>Contacta al propietario</label><br />Haz las consultas que consideres necesarias y cuando est&eacute;s listo realiza la reserva.</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                    <img src="@Url.Content("~/assets/images/disfrutar.png")" />
                                    <p class="margin-top"><label>Retiro y devolucion</label><br />Acuerda con el propietario un lugar de retiro y devoluci&oacute;n del art&iacute;culo.<br />&iexcl;Ya es momento de disfrutar!</p>
                                    </div>
                                    
                        
                                </div>
                            </div>
                            
                        </div> 
                        <div class="about-detail-content-footer">
                        
                        </div>
                      </div>
                      @*<div id="servicio_premium" class="tab-pane fade">
                        <div class="about-detail-content-title">Servicio PREMIUM</div>
                        <div class="about-detail-content-body">
                            
                        </div> 
                        <div class="about-detail-content-footer">
                        
                        </div>
                      </div>*@
                      <div id="faq" class="tab-pane fade">
                        <div class="about-detail-content-title">Preguntas frecuentes</div><hr />
                        <div class="about-detail-content-body">
                            
                            <div id="questions" class="panel-group panel-group-faq">
                
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse1" class="collapsed">
                                                &iquest;Mejor lo alquilo cobra comisiones por las transacciones?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                        Actualmente no se cobran comisiones. S&oacute;lo debes pagar lo acordado con el usuario que te alquila el art&iacute;culo.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse2" class="collapsed">
                                                &iquest;Qu&eacute; art&iacute;culos publicar?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Aquellos que est&eacute;n en buen estado de conservaci&oacute;n y funcionamiento.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse3" class="collapsed">
                                                &iquest;En qu&eacute; categor&iacute;as hay mayores oportunidades?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            - Deportes y accesorios.<br>
                                            - Instrumentos musicales.<br>
                                            - Libros.<br>
                                            - Fotograf&iacute;a y accesorios.<br>
                                            - Viajes.<br>
                                            - Electr&oacute;nica (celulares de media y alta gama).<br>
                                            - Camping y pesca.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse4" class="collapsed">
                                                &iquest;Qu&eacute; garant&iacute;as tengo?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Quienes publiquen podr&aacute;n estipular una garant&iacute;a en dinero as&iacute; como tambi&eacute;n los requisitos que considere indispensables para sentirse seguro.<br>Por ejemplo: C&eacute;dula de identidad, constancia de domicilio, ser miembro de alguna organizaci&oacute;n, otros.<br>
                                            Podr&aacute;n, si lo desean, descargar un modelo gen&eacute;rico de <a href="/assets/docs/ContratoArrendamiento.doc">contrato de arrendamiento</a>.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse5" class="collapsed">
                                                &iquest;Cu&aacute;nto es una garant&iacute;a razonable / Cu&aacute;nto pido de garant&iacute;a?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Estipula el monto con el cual te sientas seguro/a.  Un monto razonable puede ir de un 0% hasta un 75% del valor de compra.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse6" class="collapsed">
                                                &iquest;Qu&eacute; precio le pongo a mi art&iacute;culo?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Si es por d&iacute;a o por fin de semana te recomendamos entre un 5% y 35 % del valor de compra en el mercado local.<br>
                                            Si es por semana entre un 25% y 40%.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse7" class="collapsed">
                                                &iquest;Existe un rango de valor para los art&iacute;culos que voy a publicar?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            De aproximadamente $ 1000 (pesos uruguayos) en adelante.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                
                                <div class="panel panel-faq" style="opacity: 0.9;">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#questions" href="#collapse8" class="collapsed">
                                                &iquest;Qu&eacute; art&iacute;culos NO es recomendable publicar?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            1 - Aquellos con fuerte apego sentimental.<br>
                                    2 - Los que utilizas a diario.
                                        </div>
                                    </div>
                                </div><!-- /.panel-faq -->
                                
                                
                            </div>
                            
                        </div> 
                        <div class="about-detail-content-footer">
                        
                        </div>
                      </div>
                    </div>
                
                	                   
                </div>
                
            </div>
        </div>
        
       
     </div>
     
     
	</div>

   
<!-- END BODY REAL -->
