@model MvcApplication4.Models.Productos

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Productos</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">Categoria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriasProducto.DescripcionI1)
    </div>

    <div class="display-label">Precio Hora</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioHora)
    </div>

    <div class="display-label">Precio Diario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioDiario)
    </div>

    <div class="display-label">Precio Semanal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioSemanal)
    </div>

    <div class="display-label">Precio Mensual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioMensual)
    </div>

    <div class="display-label">Garantia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GarantiaDinero)
    </div>

    <div class="display-label">Garantia Extra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GarantiaExtra)
    </div>

    <div class="display-label">Condiciones de Uso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondicionesUso)
    </div>

    <div class="display-label">Usuario Dueño</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
