@{
    ViewBag.Title = "VIEW USER";
    //Layout = null;
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>
    function onConfirmDelete(link)
    {
        if (confirm('Estás seguro?')) {
            link.parentElement.parentElement.remove();
        }
    }
    </script>

<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

<div class="wrapper">

    

        <!-- ============================================================= TOP NAVIGATION ============================================================= -->
<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= -->
    
@*<div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
<div id="top-mega-nav">
    <div class="container">
        <nav>
            <ul class="inline">
                <li class="dropdown le-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-list"></i>operaciones del usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Alquileres realizados", "ViewAlquileresPorUsuario", "Home")</li>
                        <li>@Html.ActionLink("Productos publicados", "ViewUser", "Home")</li>
                    </ul>
                </li>

                <li class="breadcrumb-nav-holder"> 
                    <ul>
                        <li class="breadcrumb-item current gray">
                            <a href="#">Productos publicados por el usuario "@User.Identity.Name"</a>
                        </li>
                    </ul>
                </li><!-- /.breadcrumb-nav-holder -->
            </ul>
        </nav>
    </div><!-- /.container -->
</div><!-- /#top-mega-nav -->
<!-- ========================================= BREADCRUMB : END ========================================= -->

</div>*@     
    <section id="cart-page">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="account-detail-holder">
                <div class="account-detail-title">
                    <p>Mis publicaciones - Publicaciones</p>
                </div>
                <div class="account-detail-content margin-top-bottom">
                
                    @if (ViewBag.Productos != null)
                    {
                        foreach (MvcApplication4.Models.Productos p1 in (List<MvcApplication4.Models.Productos>)ViewBag.Productos)
                        {
                        <div class="row">
                    	
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom">                        	
                                    Estado de la publicaci&oacute;n: @p1.EstadoProducto.DescripcionI1
                               </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom">                        	
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                            

                                            @if (p1.FotosProductos.Count() > 0)
                                            {

                                                foreach (var f2 in p1.FotosProductos.ToList())
                                                {

                                                    if (String.IsNullOrEmpty(f2.Imagen.RutaFotoThumb))
                                                    {
                                                        <div class="product-image-thumb" style="background-image:url('@Url.Content(f2.Imagen.RutaFoto.Replace("../../", ""))')">
                                                           
                                                        </div>
                                                        
                                                    }
                                                    else
                                                    {
                                                        <div class="product-image-thumb" style="background-image:url('@Url.Content(f2.Imagen.RutaFotoThumb.Replace("../../", ""))')">
                                                            
                                                        </div>
                                                        
                                                
                                                    }
                                        
                                                 
                                                    break;

                                                }
                                            }
                                            else
                                            {
                                                 <div class="product-image-thumb" style="background-image:url('@Url.Content("~/assets/images/product-small-01.jpg")')">
                                                 </div>           
                                            }

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                            <p>@Html.ActionLink(p1.Nombre, "Details/" + HttpUtility.UrlEncode(MvcApplication4.Controllers.Funciones.Encrypt(p1.IdProducto.ToString())), "Home")</p>
                                        <!--<p class="owner">Dueño: Mau Perrone</p>-->
                                        </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                
                                 

                        		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 red-border padding-all-10 ">
                                            Hora 
                                            @if (p1.PrecioHora != null)
                                            {
                                                @p1.Moneda.Simbolo @Convert.ToInt32(p1.PrecioHora)
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                        		        </div>
                        		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 red-border padding-all-10 ">
                                            Dia 
                                            @if (p1.PrecioDiario != null)
                                            {
                                                @p1.Moneda.Simbolo @Convert.ToInt32(@p1.PrecioDiario)
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                        		        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 red-border padding-all-10 ">
                                            Fin de semana
                                            @if (p1.PrecioFinDeSemana != null)
                                            {
                                                @p1.Moneda.Simbolo @Convert.ToInt32(@p1.PrecioFinDeSemana)
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </div>    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 red-border padding-all-10 ">
                                            Semana
                                            @if (p1.PrecioSemanal != null)
                                            {
                                                @p1.Moneda.Simbolo @Convert.ToInt32(@p1.PrecioSemanal)
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 red-border padding-all-10 ">
                                            Mes 
                                            @if (p1.PrecioMensual != null)
                                            {
                                                @p1.Moneda.Simbolo @Convert.ToInt32(@p1.PrecioMensual)
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </div>
                               
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <!--<div class="col-lg-12">-->
                                        <!--<input type="button" class="le-button" value="Editar" />-->
                                        @Html.ActionLink("Editar", "EditProduct", new { id = HttpUtility.UrlEncode(MvcApplication4.Controllers.Funciones.Encrypt(p1.IdProducto.ToString())) }, new { @class = "le-button le-button-account  margin-top" })
                                    <!--</div>
                                    <div class="col-lg-12">-->
                                        <!--<input type="button" class="le-button" value="Eliminar" />-->
                                        @Ajax.ActionLink(
                                            "Eliminar",
                                            "DeleteProductConfirmedAjax",
                                            "Home",
                                            new
                                            {
                                                id = HttpUtility.UrlEncode(MvcApplication4.Controllers.Funciones.Encrypt(p1.IdProducto.ToString()))
                                            },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST"
                                            }, new { onclick = "javascipt:onConfirmDelete(this);", @class = "le-button le-button-account margin-top" }
                                        ) 
                                    <!--</div>-->
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <hr/>
                                </div>
                        </div>
                        
                        }
                    }
                    else
                    {
                        <div class="text-center">No tienes artículos publicados... 
                            @Html.ActionLink("Publicar", "CreateProduct", "Home", null, new { @class = "le-button" })
                        </div>
                    }
                </div>
                
            </div>
        </div>
        </div>
    </div>
</section>      
<!-- ============================================================= FOOTER ============================================================= -->
    </div>