@model IEnumerable<MvcApplication4.Models.Suscriptor>

@{
    Layout = null;
}

<h2>Suscritos por año de nacimiento</h2>

@using (Html.BeginForm("ReporteSuscritosPorAnioResultado","Home",FormMethod.Post)) {
    @Html.ValidationSummary(true)
    <fieldset>
        @*<legend>Usuarios</legend>*@


        <div class="editor-label">
            @Html.Label("anioDesde","Año desde")
        </div>
        <div class="editor-field">
            @Html.TextBox("anioDesde", null, new { type = "number"})
            
        </div>
         <div class="editor-label">
            @Html.Label("anioHasta","Año hasta")
        </div>
        <div class="editor-field">
            @Html.TextBox("anioHasta", null, new { type = "number"})
            
        </div>
        
        <p>
            <input type="submit" value="Consultar" />
        </p>
    </fieldset>
}